src/schemas/ptu_CobrancaUtilizacao.xsd

<?xml version="1.0" encoding="ISO-8859-1"?><!-- edited with XMLSpy v2018 sp1 (x64) (http://www.altova.com) by  (Unimed do Brasil) --><!--	Projeto: PTU XML	Versão: V3_0 	TargetNameSpace: http://ptu.unimed.coop.br/schemas/V1_0	Autores:	Unimed do Brasil--><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ptu="http://ptu.unimed.coop.br/schemas/V3_0" targetNamespace="http://ptu.unimed.coop.br/schemas/V3_0" elementFormDefault="qualified">	<include schemaLocation="ptu_ComplexTypes-V3_0.xsd"/>	<!-- *******************************************************A500********************************************************************************************* -->	<element name="GuiaCobrancaUtilizacao">		<annotation>			<documentation>Guias de Cobrança ou Utilização.</documentation>		</annotation>		<complexType>			<sequence>				<element name="cabecalho" type="ptu:ct_CabecalhoCobranca"/>				<element name="arquivoCobrancaUtilizacao" type="ptu:ct_ArquivoCobrancaUtilizacao"/>				<element name="hash" type="ptu:st_texto32" minOccurs="1"/>				<element name="carimboCMB" type="ptu:ct_carimbo" minOccurs="0"/>			</sequence>		</complexType>	</element></schema>